.index {
  .content {
    display flex
    width: 100%;
    align-items: center
    justify-content space-around
    border-bottom 1px solid #eee
    padding 15px 0
    view {
      min-width: 80px;
      display inline-block
      text-align: center
      text-align: center
    }
    .title {
      color #0070C5
    }
  }
  .input {
    padding: 15px 0
    display flex
    align-items: center
    border-bottom: 1px solid #eee
    view {
      margin-right 10px
    }

  }
  .add {
    width: 80%
    line-height 70px
    border-radius: 10px;
    background: #00B26A
    color: #ffffff
    text-align: center
    margin 40px auto 0
  }
}
